body{
    text-align: center;
}

.link-container {
    height: 100px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
    box-shadow: 6px 6px 6px gray
}

.link-box {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 140px;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 6px 6px 6px gray;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.image-box {
    text-align: center;
    width: 700px;
    height: 800px;
    border: 6px solid black;
    border-radius: 15px;
    box-shadow: 6px 6px 6px gray
}

.text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.text-box {
    font-size: 20px;
    text-align: center;
    width: 700px;
    height: 100px;
    border-radius: 15px;
}

.ingredient-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.ingredient-box {
    width: 200px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    box-shadow: 6px 6px 6px gray;
    border-radius: 15px;
    margin-top: 15px;
}

.steps-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.steps-box {
    width: 300px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    box-shadow: 6px 6px 6px gray;
    border-radius: 15px;
    margin-top: 15px;
}