body{
    text-align: center;
}

.container {
    height: 100px;
    border: 6px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.box {
    text-align: center;
    height: 50px;
    width: 70px;
    font-size: 1.5em;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.image-box {
    text-align: center;
    width: 700px;
    height: 800px;
    border: 6px solid black;
    border-radius: 15px;
}

.text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.text-box {
    font-size: 20px;
    text-align: center;
    width: 700px;
    height: 100px;
    border-radius: 15px;
}